*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.balanceContainer{
    margin-top: 20%;
    width: 90vw;
    height: 15vh;
    background-color: hsl(10, 79%, 65%);
    color: hsl(27, 66%, 92%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.chartContainer{
    margin-top: 5%;
    margin-bottom: 20%;
    width: 90%;
    height: fit-content;
    background-color: hsl(33, 100%, 98%) ;
    color: hsl(28, 10%, 53%);
    padding: 5%;
}

.w400{
    font-weight: 400;
}

.w700{
    font-weight: 700;
}

.small{
    font-size: 15px;
}

.large{
    font-size: 20px;
}

.dark{
    color: hsl(25, 47%, 15%) ;
}

hr{
    border: 1px solid hsl(27, 66%, 92%);
    margin: 5% 0;
}

.summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.largest{
    font-size: 30px;
}

#myChart{
    padding: 5%;
    height: 30vh;
}